@import ./_variables

// utility classes
.facebook
  background-color: $facebook

.instagram
  background-image: $instagram

.twitter
  background-color: $twitter

.youtube
  background-color: $youTube

.red
  color: $brightRed

.lime
  color: $lime